
@using CirneSports.LojaVirtual.Dominio.Repositorio

@{
    MenuRepositorio _menu = new MenuRepositorio();
    ViewBag.ClubesNacionais = _menu.ObterClubesNacionais();
    ViewBag.ClubesInternacionais = _menu.ObterClubesInternacionais();
    ViewBag.Selecoes = _menu.ObterSelecoes();
    ViewBag.Esportes = _menu.ObterCategorias();
}
<div class="navi">
    <ul id="main-menu" class="sm sm-mint">

        <li>
            <a href="#">ESPORTES</a>
            <ul id="esportes">
                @foreach (var itens in ViewBag.Esportes)
                {
                    <li><a href=@String.Concat("/nav/esportes/", @itens.CategoriaCodigo, "/", @itens.CategoriaDescricao)>@itens.CategoriaDescricao</a></li>
                }
            </ul>
        </li>

        <li>
            <a href="/nav/genero/0002/homens/">HOMENS</a>
            <ul>
                <li>
                    <a href='/nav/genero/0002/homens/0003/calçados'>CALÇADOS</a>
                    <ul>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0082/chuteira-campo'>Chuteira de Campo</a></li>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0136/chuteira-society'>Chuteira Society</a></li>
                        <li><a href='/nav/genero/0002/homens/0003/calcados/0084/tênis'>Tênis</a></li>
                    </ul>
                </li>
                <li>
                    <a href='/nav/genero/0002/homens/0001/roupas'>ROUPAS</a>
                    <ul>
                        <li><a href='/nav/genero/0002/homens/0001/roupass/0739/camisas-times'>Camisas de Times</a></li>
                        <li><a href='/nav/genero/0002/homens/0001/roupass/0002/bermudas'>Bermudas</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/nav/genero/0001/mulheres/">MULHERES</a>
            <ul>
                <li>
                    <a href="/nav/genero/0001/mulheres/0003/calçados">CALÇADOS</a>
                    <ul>
                        <li><a href="/nav/genero/0001/mulheres/0003/calçados/0083/linha-casual">Linha Casual</a></li>
                        <li><a href="/nav/genero/0001/mulheres/0003/calçados/0084/linha-casual">Linha Training</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/nav/genero/0001/mulheres/0001/Vestuário">ROUPAS</a>
                    <ul>
                        <li><a href="/nav/genero/0001/mulheres/0001/Vestuário/0011/camisetas">Camisetas</a></li>
                        <li><a href="/nav/genero/0001/mulheres/0001/Vestuário/0004/calças">Calças</a></li>
                        <li><a href="/nav/genero/0001/mulheres/0001/Vestuário/0002/bermudas">Bermudas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/nav/genero/0001/mulheres/0004/acessórios">ACESSÓRIOS</a>
                    <ul>
                        <li><a href="/nav/genero/0001/mulheres/0004/Acessórios/0102/bolsas">Bolsas</a></li>
                        <li><a href="/nav/genero/0001/mulheres/0004/Acessórios/0104/mochilas">Mochilas</a></li>
                        <li><a href="/nav/genero/0001/mulheres/0004/Acessórios/0051/óculos-natação">Óculos</a></li>
                        <li><a href="/nav/genero/0001/mulheres/0004/Acessórios/0426/malas">Malas</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/nav/calcados/0003/calçados/">CALÇADOS</a>
            <ul>
                <li>
                    <a href='#'>MARCAS</a>
                    <ul>
                        <li><a href="/nav/marcas/0003/calçados/0002/adidas">Adidas</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0005/asics">ASICS</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0082/fila">Fila</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0130/mizuno">Mizuno</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0073/nike">Nike</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0117/topper">Topper</a></li>
                        <li><a href="/nav/marcas/0003/calçados/1042/olympikus">Olympikus</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0081/penalty">Penalty</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0091/puma">Puma</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0098/reebok">Reebok</a></li>
                        <li><a href="/nav/marcas/0003/calçados/0118/umbro">Umbro</a></li>
                    </ul>
                </li>

                <li>
                    <a href='#'>ESPORTES</a>
                    <ul>
                        <li><a href='/nav/esportes/0003/calçados/0082/chuteira-campo'>Chuteira de Campo</a></li>
                        <li><a href='/nav/esportes/0003/calçados/0136/chuteira-society'>Chuteira Society</a></li>
                        <li><a href='/nav/esportes/0003/calçados/0084/tênis'>Tênis</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/nav/vestuario/0001/roupas/">ROUPAS</a>
            <ul>
                <li>
                    <a href='#'>MARCAS</a>
                    <ul id="roupasmarcas"></ul>
                </li>

                <li>
                    <a href='#'>ESPORTES</a>
                    <ul class="esportes"></ul>
                </li>

            </ul>
        </li>


        <li>
            <a href="">TIMES</a>
            <ul>
                <li>
                    <a href="#">NACIONAIS</a>
                    <ul id="clubesnacionais">
                        @foreach (var itens in ViewBag.ClubesNacionais)
                        {
                            <li><a href= @String.Concat("/nav/times/", @itens.LinhaCodigo , "/" , @itens.LinhaDescricao)>@itens.LinhaDescricao</a></li>
                        }
                    </ul>
                </li>

                <li>
                    <a href="#">INTERNACIONAIS</a>
                    <ul id="clubesinternacionais">
                        @foreach (var itens in ViewBag.ClubesInternacionais)
                        {
                            <li><a href=@String.Concat("/nav/times/", @itens.LinhaCodigo , "/" , @itens.LinhaDescricao)>@itens.LinhaDescricao</a></li>
                        }
                    </ul>
                </li>

                <li>
                    <a href="#">SELEÇÕES</a>
                    <ul id="selecoes">
                        @foreach (var itens in ViewBag.Selecoes)
                        {
                            <li><a href=@String.Concat("/nav/times/", @itens.LinhaCodigo , "/" , @itens.LinhaDescricao)>@itens.LinhaDescricao</a></li>
                        }
                    </ul>
                </li>

            </ul>
        </li>


        <li>
            <a href="#">MARCAS</a>
            <ul>
                <li><a href="/nav/0002/adidas">Adidas</a></li>
                <li><a href="/nav/0005/asics">ASICS</a></li>
                <li><a href ="/nav/1239/caloi">Caloi</a></li>
                <li><a href="/nav/0082/fila">Fila</a></li>
                <li><a href="/nav/0130/mizuno">Mizuno</a></li>
                <li><a href="/nav/0073/nike">Nike</a></li>
                <li><a href="/nav/0117/topper">Topper</a></li>
                <li><a href="/nav/1042/olympikus">Olympikus</a></li>
                <li><a href="/nav/0081/penalty">Penalty</a></li>
                <li><a href="/nav/0091/puma">Puma</a></li>
                <li><a href="/nav/0098/reebok">Reebok</a></li>
                <li><a href="/nav/0118/umbro">Umbro</a></li>
            </ul>
        </li>
    </ul>
</div>
