
@model CirneSports.LojaVirtual.Web.V2.Models.ModalidadeSubGrupoViewModel
@using CirneSports.LojaVirtual.Web.V2.HtmlHelpers

@foreach(var item in Model.SubGrupos)
{
    <li>
        @Html.ActionLink(@item.SubGrupoDescricao, "ObterModalidadeSubGrupo",
            new
            {
                modalidadeCodigo = @Model.Modalidade.ModalidadeCodigo,
                subGrupoCodigo = @item.SubGrupoCodigo,
                subGrupoDescricao = @item.SubGrupoDescricao.ToSeoUrl()
            });
    </li>
}    
