@model CirneSports.LojaVirtual.Web.V2.Models.ProdutosViewModel
@using CirneSports.LojaVirtual.Web.V2.Helpers


<div class="sep-bor"></div>

<div class="shop-items blocky">

    <div class="container">

        @for(var i = 0; i < Model.Produtos.Count; i++)
        {
            var primeiro = i == 0;
            var ultimo = i == Model.Produtos.Count - 1;
            var atual = i + 1;
            var anterior = i;

            if (primeiro || anterior % 4 == 0)
            {
                @Html.Raw("<div class=\"row\">")
            }

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="item" style="height:300px;">

                    <!-- Item Image -->
                    <div class="item-image">
                        <a href="single-item.html" class="zoom">
                            <img src="@ImageHelper.CaminhoImagem()/180x180/@Model.Produtos[i].Imagem" alt="" class="img-responsive"/>
                        </a>
                    </div>

                    <!-- Item details -->
                    <div class="item-details" style="text-align:center;">
                        <!-- Name -->
                        <h4><b><a href="single-item.html">@Model.Produtos[i].ProdutoDescricao</a></b></h4>
                        <div class="clearfix"></div>
                        <!-- Para. Note more than 2 lines -->
                        <p>@Model.Produtos[i].MarcaDescricao</p>                                             
                        <!-- Price -->                        
                        <hr />
                        <div class="item-price pull-left" style="width:80px;font-size:13px;">
                            @Model.Produtos[i].Preco.ToString("C")
                        </div>
                        <!-- Add to Cart -->
                        <div class="pull-right"><a class="btn btn-danger btn-sm" href="#">Comprar</a></div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

            if (ultimo || atual % 4 == 0)
            {
                @Html.Raw("</div>")
            }

        }


    </div>

</div>


